<html>
    <head>
        <title>Todo</title>
    </head>
    <body>
        <ul>    
            {% for d in data%}
            <li>{{d.description}}</li>
            {% endfor %}
            
        </ul>
        <form action="todos/create" method="post">
            <div>
                <label for="name">Add a toDOooo</label><br>
                <input type="text" name="description"><br>
            </div>
            <div>
                <input type="submit" value="Create">
            </div>
        </form>
    </body>
</html>